@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    180deg,
    #03185b -0.3%,
    #123194 19.67%,
    #03195d 38.37%,
    #102f91 58.22%,
    #041a60 79.65%,
    #0f2c8b 100.03%
  );
  color: #f0f0f0;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 150ms;
}

html,
body {
  scroll-behavior: smooth;
}

* {
  scrollbar-color: #ccc !important;
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgb(17, 69, 149);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(22, 81, 188);
}
::-webkit-scrollbar-thumb:active {
  background: rgb(15, 55, 130);
}
::-webkit-scrollbar-track {
  background: rgb(12, 40, 115);
}

.countdown-separator {
  color: papayawhip !important;
  font-weight: 900 !important;
  font-family: none;
}

.countdown-timer-item {
  border-radius: 8px !important;
}

.countdown-timer-item .digit-wrapper span {
  font-family: fantasy;
  background: papayawhip;
  color: #2f2f2f;
}

#moreMenu:before,
#moreLang:before {
  float: right;
  content: "";
  border-bottom: 10px solid rgba(240, 240, 240, 0.9);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  left: 24px;
  top: -10px;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
